

@{
    ViewBag.Title = "Index";
}
<style>
    img.zoom-img{height: 200px}
</style>
<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/NewFolder1/img/abt-1.jpg" alt="" />
                    <figcaption>
                        <h2>Nulla maximus nunc</h2>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/NewFolder1/img/abt-2.jpg" alt="" />
                    <figcaption>
                        <h4>Mauris erat augue</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/NewFolder1/img/abt-3.jpg" alt="" />
                    <figcaption>
                        <h4>Cras elit mauris</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">  
                            <a href='@Url.Action("Index","single")' class="mask">
                                <img class="img-responsive zoom-img" src="~/NewFolder1/img/s-1.jpg" alt="" />
                            </a>
                            <div class="product-bottom">
                                <h3>Casio WR 50M</h3>
                                <p>Mã sp:160</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$150</span></h4>
                            </div>
                            <div class="srch">
                                <span>-50%</span>
                            </div>
</div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href='@Url.Action("Index","single")' class="mask"><img class="img-responsive zoom-img" src="~/NewFolder1/img/fr-2.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Fredeque Classic</h3>
                            <p>Mã sp:155</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$400</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href='@Url.Action("Index","single")' class="mask"><img class="img-responsive zoom-img" src="~/NewFolder1/img/hublot-4.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3>HUBLOT</h3>
                            <p>Mã sp:12</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$150</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href='@Url.Action("Index","single")' class="mask"><img class="img-responsive zoom-img" src="~/NewFolder1/img/titan-1.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3>TiTan 36.5 mm</h3>
                            <p>Mã sp:167</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$450</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href='@Url.Action("Index","single")' class="mask"><img class="img-responsive zoom-img" src="~/NewFolder1/img/mvw-1.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3>MVW MS001 </h3>
                            <p>Mã sp: 124 </p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href='@Url.Action("Index","single")' class="mask"><img class="img-responsive zoom-img" src="~/NewFolder1/img/hublot-4.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3> Classic fusion titanium blue 42mm</h3>
                            <p>Mã sp: 123</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 200</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href='@Url.Action("Index","single")' class="mask"><img class="img-responsive zoom-img" src="~/NewFolder1/img/casio-1.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Casio A159W</h3>
                            <p>Mã sp : </p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$124</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href='@Url.Action("Index","single")' class="mask"><img class="img-responsive zoom-img" src="~/NewFolder1/img/Casio-2.jpg" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Casio Nam AE-1200</h3>
                            <p>Mã sp:10</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$301</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!--product-end-->
<!--information-starts-->
@section  quangcao{
    <div class="bnr" id="home">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <img src="~/NewFolder1/img/bnr-1.jpg" alt="" />
                </li>
                <li>
                    <img src="~/NewFolder1/img/bnr-2.jpg" alt="" />
                </li>
                <li>
                    <img src="~/NewFolder1/img/bnr-3.jpg" alt="" />
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--banner-ends-->
    <!--Slider-Starts-Here-->
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
}


